@charset "UTF-8";
@font-face {
  font-family: RobotoSlab-extrabold;
  src: url(../fonts/static/RobotoSlab-ExtraBold.ttf); }

@font-face {
  font-family: RobotoSlab-thin;
  src: url(../fonts/static/RobotoSlab-Thin.ttf); }

@font-face {
  font-family: RobotoSlab-regular;
  src: url(../fonts/static/RobotoSlab-Regular.ttf); }

/*Colores*/
/*Gradientes*/
/*Tipografias*/
/*mapa de color
$colores: (color-principal:#320A28, color-secundario:#b9aeb6, color-texto:white, color-detalle: black);
*/
/*mapa de medidas*/
.subtitulo {
  font-weight: bold;
  text-decoration: underline; }

.mini-descripciones {
  justify-content: justify;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center; }

/*general*/
.titulo {
  color: white;
  font-style: normal;
  margin-left: 0px;
  font-size: 40px;
  text-align: center;
  font-family: RobotoSlab-extrabold;
  font-weight: bold; }

body {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  background-image: url(../img/fondonuevo.jpg);
  background-size: 100vw 100vh;
  margin: 0;
  background-attachment: fixed;
  font-family: RobotoSlab-thin;
  font-weight: bold; }
  body header, body .headerIndex, body .headerUbicacion, body .headerContacto, body .headerNosotros, body .headerServicios {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6; }
    body header .logo, body .headerIndex .logo, body .headerUbicacion .logo, body .headerContacto .logo, body .headerNosotros .logo, body .headerServicios .logo {
      height: 100px;
      width: 100px;
      margin-left: 35px;
      padding: 5px;
      border: 5px;
      margin-right: 35px;
      margin-top: 5px;
      margin-bottom: 5px;
      align-items: center;
      justify-content: center; }

.nav-link {
  color: white; }

/* .menu{
display:flex;
padding: 20px;
text decoration: none;
margin-right: inherit;
} */
ul.menu li {
  display: inline-flex;
  padding-right: 40px;
  /* justify-content: space-between; */
  font-size: 20px;
  color: white;
  text-decoration: none;
  align-items: center; }

.a {
  text-decoration: none;
  text-align: right;
  display: inline-flex;
  justify-content: space-between;
  color: white; }

h3 {
  margin-left: 0px;
  text-align: center;
  font-size: 25px;
  font-family: RobotoSlab-regular; }

footer {
  background-color: #320A28;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px; }
  footer .footer {
    color: white;
    margin-left: 0px;
    text-align: center;
    font-size: 20px;
    justify-content: center; }
    footer .footer .redes {
      color: white;
      text-decoration: none;
      text-align: center;
      font-size: 20px;
      justify-content: center;
      margin: 0px; }

.imagenes {
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px; }

/*Index*/
.parrafos-index {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
  align-items: center;
  text-align: center; }
  .parrafos-index #parrafosIndex {
    text-align: center;
    margin: 20px;
    padding: 10px; }

#parrafosIndex {
  text-align: justify;
  margin: 20px;
  padding: 10px; }

.titulos-index {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: RobotoSlab-regular; }
  .titulos-index .mision {
    margin-top: 20px; }

.footerIndex {
  margin: 0px;
  padding: 0px;
  border: 0; }

.indeximg {
  margin: 0px;
  text-decoration: none; }

/*Ubicacion*/
.mapa {
  margin: 5px;
  padding: 5px;
  border: 5px;
  justify-content: center; }
  .mapa #mapaUbicacion {
    height: 260px;
    width: 400px; }

/*texto*/
p {
  font-size: 20px; }

li {
  font-size: 20px; }

h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: RobotoSlab-regular; }

h2 {
  font-weight: bold;
  font-family: RobotoSlab-regular; }

/*Servicios*/
.servicios {
  margin-left: 30px;
  margin-top: 20px;
  justify-content: center;
  font-size: 30px; }

.derecho-de {
  margin-left: 0px; }

.items {
  margin-left: 30px; }

.carousel-item {
  margin-right: 30px;
  margin-left: 30px;
  padding: 15px;
  width: 350px;
  align-items: center; }

/*Quienes somos*/
.quienes-somos {
  margin-left: 30px;
  margin-top: 20px; }

.nombres {
  margin-left: 30px; }

.descripcion {
  margin-left: 30px;
  justify-content: center; }

header, .headerIndex, .headerUbicacion, .headerContacto, .headerNosotros, .headerServicios {
  border-bottom: 8px;
  border-color: #b9aeb6; }

.imagen1 {
  height: 350px;
  width: 200px;
  margin: 15px;
  padding: 20px; }

.imagen2 {
  height: 350px;
  width: 200px;
  margin: 15px;
  padding: 20px; }

.imagen3 {
  height: 350px;
  width: 200px;
  margin: 15px;
  padding: 20px; }

/*Contacto*/
input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  border: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

.formulario {
  font-family: RobotoSlab-thin;
  font-weight: bold;
  color: black;
  justify-content: center;
  display: flex; }
  .formulario form {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px; }
    .formulario form .contacto {
      margin: 10px;
      padding: 5px;
      border: 5px;
      justify-content: center;
      text-align: center; }

.seccion {
  margin: 0px;
  padding: 0px;
  justify-content: center; }
  .seccion .botón {
    justify-content: center;
    margin-bottom: 10px;
    background: #320A28;
    color: white;
    padding: 20px; }

.boton:hover {
  cursor: pointer; }

form {
  width: 450px;
  margin: auto;
  background-color: #b9aeb6;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px; }

.formulario {
  text-align: center;
  font-family: RobotoSlab-thin;
  font-weight: bold;
  color: black;
  justify-content: center;
  display: flex; }

label {
  display: inline-block;
  justify-content: center;
  text-align: center;
  justify-content: space-between; }

.contenedorContacto {
  background-image: url(../img/fondocontacto.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

/*Contenedores*/
/*index*/
.contenedorIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
  gap: 0;
  grid-template-areas: "header header header" "mision mision mision" "vision vision vision" "valores valores valores" "lena lena lena" "footerIndex footerIndex footerIndex"; }

header, .headerIndex, .headerUbicacion, .headerContacto, .headerNosotros, .headerServicios {
  grid-area: header; }

.mision {
  grid-area: mision; }

.vision {
  grid-area: vision; }

.valores {
  grid-area: valores; }

.lena {
  grid-area: lena; }

.footerIndex {
  grid-area: footerIndex; }

/*Contenedor Ubicacion*/
/*ubicacion*/
.contenedorUbicacion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0, 25fr 1fr 0, 25fr;
  gap: 0;
  grid-template-areas: "header" "mapa" "footerUbicacion"; }

header, .headerIndex, .headerUbicacion, .headerContacto, .headerNosotros, .headerServicios {
  grid-area: header; }

.mapa {
  grid-area: mapa; }

.footerUbicacion {
  grid-area: footerUbicacion; }

/*Contenedor Contacto*/
.contenedorContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0, 25fr 1fr 0, 25fr;
  gap: 0;
  grid-template-areas: "headerContacto headerContacto headerContacto" "formulario formulario formulario" "footerContacto footerContacto footerContacto"; }

.headerContacto {
  grid-area: headerContacto; }

.formulario {
  grid-area: formulario; }

.footerContacto {
  grid-area: footerContacto; }

/*Contenedor quienes somos*/
.contenedorQuienesSomos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
  gap: 0;
  grid-template-areas: "Nos " "contenidoNosotros " "primerContenido" "segundoContenido" "tercerContenido" "footerNosotros "; }

.Nos {
  grid-area: Nos; }

.contenidoNosotros {
  grid-area: contenidoNosotros; }

.intro {
  grid-area: intro; }

.primerContenido {
  grid-area: primerContenido; }

.segundoContenido {
  grid-area: segundoContenido; }

.tercerContenido {
  grid-area: tercerContenido; }

.footerNosotros {
  grid-area: footerNosotros; }

/*contenedor servicios*/
.contenedorServicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0, 25fr 0, 25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0, 25fr;
  gap: 0;
  grid-template-areas: "headerServicios " "serviciosTitulo " " familia  " "familiaimg " "laboral " "laboralimg " "civilycomer " "civilycomerimg  " " Sucesorio " "sucesorioimg  " "footerServicios "; }

.headerServicios {
  grid-area: headerServicios; }

.serviciosTitulo {
  grid-area: serviciosTitulo; }

.familia {
  grid-area: familia; }

.familiaimg {
  grid-area: familiaimg; }

.civilycomer {
  grid-area: civilycomer; }

.civilycomerimg {
  grid-area: civilycomerimg; }

.sucesorio {
  grid-area: sucesorio; }

.sucesorioimg {
  grid-area: sucesorioimg; }

.footerServicios {
  grid-area: footerServicios; }

/*media querie*/
@media screen and (max-width: 400px) {
  form {
    width: 100%; }
  h2 .soluciones {
    justify-content: center;
    text-decoration: underline; }
  .indeximg1 {
    width: 320px;
    height: 180px; }
  .indeximg2 {
    width: 320px;
    height: 180px; }
  .indeximg3 {
    width: 320px;
    height: 180px; }
  .indeximg4 {
    width: 320px;
    height: 180px; }
  #contenedor {
    width: 320px;
    margin: 15px auto;
    overflow: hidden; }
  #contenedor ul {
    width: 1280px;
    display: flex;
    padding: 0px;
    animation: slide 20s infinite alternate; }
  @keyframes slide {
    0% {
      margin-left: 0px; }
    20% {
      margin-left: 0px; }
    25% {
      margin-left: -320px; }
    45% {
      margin-left: -320px; }
    50% {
      margin-left: -640px; }
    70% {
      margin-left: -640px; }
    80% {
      margin-left: -960px; }
    100% {
      margin-left: -960px; } }
  .mapa {
    margin: 5px;
    padding: 5px;
    border: 5px;
    justify-content: center; }
    .mapa #mapaUbicacion {
      height: 150px;
      width: 300px; } }

@media screen and (min-width: 401px) {
  .indeximg1 {
    width: 402px;
    height: 262px; }
  .indeximg2 {
    width: 402px;
    height: 262px; }
  .indeximg3 {
    width: 402px;
    height: 262px; }
  .indeximg4 {
    width: 402px;
    height: 262px; }
  #contenedor {
    width: 402px;
    margin: 15px auto;
    overflow: hidden; }
  #contenedor ul {
    width: 1608px;
    display: flex;
    padding: 0px;
    animation: slide 20s infinite alternate; }
  @keyframes slide {
    0% {
      margin-left: 0px; }
    20% {
      margin-left: 0px; }
    25% {
      margin-left: -402px; }
    45% {
      margin-left: -402px; }
    50% {
      margin-left: -804px; }
    70% {
      margin-left: -804px; }
    80% {
      margin-left: -1206px; }
    100% {
      margin-left: -1206px; } }
  .mapa {
    margin: 5px;
    padding: 5px;
    border: 5px;
    justify-content: center; }
    .mapa #mapaUbicacion {
      height: 200px;
      width: 350px; } }

@media screen and (min-width: 768px) {
  .contenedorIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header header header" "mision mision mision" "vision vision vision" "valores valores valores" "lena lena lena" "footerIndex footerIndex footerIndex"; }
  .contenedorUbicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header" "mapa" "footerUbicacion"; }
  .contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "headerContacto headerContacto headerContacto" "formulario formulario formulario" "footerContacto footerContacto footerContacto"; }
  .headerServicios {
    grid-area: headerServicios; }
  .serviciosTitulo {
    grid-area: serviciosTitulo; }
  .familia {
    grid-area: familia; }
  .familiaimg {
    grid-area: familiaimg; }
  .civilycomer {
    grid-area: civilycomer; }
  .civilycomerimg {
    grid-area: civilycomerimg; }
  .sucesorio {
    grid-area: sucesorio; }
  .sucesorioimg {
    grid-area: sucesorioimg; }
  .footerServicios {
    grid-area: footerServicios; }
  header, .headerIndex, .headerUbicacion, .headerContacto, .headerNosotros, .headerServicios {
    background-color: #320A28;
    display: inline;
    justify-content: space-between;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6; }
    header .titulo, .headerIndex .titulo, .headerUbicacion .titulo, .headerContacto .titulo, .headerNosotros .titulo, .headerServicios .titulo {
      color: white;
      font-style: normal;
      margin-left: 0px;
      font-size: 60px;
      text-align: center;
      font-family: RobotoSlab-extrabold;
      font-weight: bold; }
    header #logo, .headerIndex #logo, .headerUbicacion #logo, .headerContacto #logo, .headerNosotros #logo, .headerServicios #logo {
      height: 110px;
      width: 110px; }
  .menuUbicacion {
    display: flex; }
  .mapa {
    margin: 5px;
    padding: 5px;
    border: 5px;
    justify-content: space-between; }
    .mapa #mapaUbicacion {
      height: 500px;
      width: 700px; }
  .parrafos-index {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px; }
    .parrafos-index #parrafosIndex {
      text-align: justify;
      margin: 20px;
      padding: 10px; }
  .carousel-item {
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px;
    width: 500px;
    align-items: center; }
  /*carrusel index*/
  /*imagenes index*/
  .indeximg1 {
    width: 700px;
    height: 460px; }
  .indeximg2 {
    width: 700px;
    height: 460px; }
  .indeximg3 {
    width: 700px;
    height: 460px; }
  .indeximg4 {
    width: 700px;
    height: 460px; }
  #contenedor {
    width: 700px;
    margin: 30px auto;
    overflow: hidden; }
  #contenedor ul {
    width: 2800px;
    display: flex;
    animation: slide 20s infinite alternate; }
  @keyframes slide {
    0% {
      margin-left: 0px; }
    20% {
      margin-left: 0px; }
    25% {
      margin-left: -700px; }
    45% {
      margin-left: -700px; }
    50% {
      margin-left: -1400px; }
    75% {
      margin-left: -1400px; }
    75% {
      margin-left: -2100px; }
    100% {
      margin-left: -2100px; } } }

@media screen and (min-width: 1200px) {
  .contenedorIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header header header" "mision mision mision" "vision vision vision" "valores valores valores" "lena lena lena" "footerIndex footerIndex footerIndex"; }
  .contenedorUbicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header" "mapa" "footerUbicacion"; }
  .contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "headerContacto headerContacto headerContacto" "formulario formulario formulario" "footerContacto footerContacto footerContacto"; }
  .imagen1 {
    height: 500px;
    width: 300px;
    margin: 15px;
    padding: 20px; }
  .imagen2 {
    height: 500px;
    width: 300px;
    margin: 15px;
    padding: 20px; }
  .imagen3 {
    height: 500px;
    width: 300px;
    margin: 15px;
    padding: 20px; }
  header, .headerIndex, .headerUbicacion, .headerContacto, .headerNosotros, .headerServicios {
    background-color: #320A28;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6; }
    header .logo, .headerIndex .logo, .headerUbicacion .logo, .headerContacto .logo, .headerNosotros .logo, .headerServicios .logo {
      height: 150px;
      width: 150px;
      margin-left: 20px;
      margin-right: 30px;
      padding: 5px;
      border: 5px;
      align-items: center;
      justify-content: space-between; }
    header #logo, .headerIndex #logo, .headerUbicacion #logo, .headerContacto #logo, .headerNosotros #logo, .headerServicios #logo {
      height: 130px;
      width: 130px; }
    header .titulo, .headerIndex .titulo, .headerUbicacion .titulo, .headerContacto .titulo, .headerNosotros .titulo, .headerServicios .titulo {
      margin-right: 25px;
      font-size: 70px; }
  .mapa {
    margin: 5px;
    padding: 15px;
    border: 15px; }
    .mapa #mapaUbicacion {
      height: 640px;
      width: 800px; }
  .parrafos-index {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px; }
    .parrafos-index #parrafosIndex {
      text-align: justify;
      margin: 20px;
      padding: 10px; }
    .parrafos-index .headerIndex {
      display: inline-flex; }
    .parrafos-index .headerUbicacion {
      display: inline-flex; }
    .parrafos-index .headerNosotros {
      display: inline-flex; }
    .parrafos-index .headerServicios {
      display: inline-flex; }
    .parrafos-index .headerContacto {
      display: inline-flex; }
    .parrafos-index .carousel-item {
      margin-right: 30px;
      margin-left: 30px;
      padding: 15px;
      width: 700px;
      align-items: center; }
  /*carrusel servicios*/
  /*carrusel index*/
  /*imagenes index*/
  .indeximg1 {
    width: 1000px;
    height: 600px; }
  .indeximg2 {
    width: 1000px;
    height: 600px; }
  .indeximg3 {
    width: 1000px;
    height: 600px; }
  .indeximg4 {
    width: 1000px;
    height: 600px; }
  #contenedor {
    width: 1000px;
    margin: 30px auto;
    overflow: hidden; }
  #contenedor ul {
    width: 4000px;
    display: flex;
    animation: slide 20s infinite alternate; }
  @keyframes slide {
    0% {
      margin-left: 0px; }
    20% {
      margin-left: 0px; }
    25% {
      margin-left: -1000px; }
    45% {
      margin-left: -1000px; }
    50% {
      margin-left: -2000px; }
    75% {
      margin-left: -2000px; }
    75% {
      margin-left: -3000px; }
    100% {
      margin-left: -3000px; } } }

/*carrusel (cambiar medidas a formato mobile)*/
#kiko-slider {
  margin: auto;
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box; }

#kiko-slider > ul,
li {
  padding: 0;
  margin: 0;
  list-style: none; }

#kiko-slider > ul.slider {
  position: relative;
  max-width: 900px;
  min-width: 300px;
  width: 100%;
  height: 300px; }

#kiko-slider > ul.slider h1 {
  position: absolute;
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%); }

#kiko-slider > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s; }

#kiko-slider > ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

#kiko-slider > ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/ }

#kiko-slider > ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/ }

#kiko-slider > .menu {
  text-align: center;
  margin: 20px; }

#kiko-slider > .menu li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%; }

.contenedorIndex {
  background-image: url(../img/fondonuevo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

.contenedorQuienesSomos {
  background-image: url(../img/fondonuevo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

.contenedorServicios {
  background-image: url(../img/fondonuevo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

.contenedorUbicacion {
  background-image: url(../img/fondonuevo.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0; }

#ubi {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 50px;
  font-family: RobotoSlab-extrabold;
  text-decoration: underline; }

.cajablanca {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  border: #320A28;
  border: 7px; }

.soluciones {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px;
  margin-top: 30px;
  text-decoration: underline; }
  .soluciones .solu {
    display: inline-flex;
    justify-content: space-between; }
