@font-face {
    font-family: RobotoSlab-extrabold;
    src: url(../fonts/static/RobotoSlab-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoSlab-thin;
    src: url(../fonts/static/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: RobotoSlab-regular;
    src: url(../fonts/static/RobotoSlab-Regular.ttf);
}

.subtitulo {
    font-weight: bold;
    text-decoration: underline;

}

.mini-descripciones {
    justify-content: justify;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}


/*general*/

body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: #fdffd1;
    /* background-image: url(../img/fondo\ 2.jpg); */
    background-image: linear-gradient(#f3e8e8, #FFE0F0, #DDC3D0);
    background-size: 100%;
    font-family: RobotoSlab-thin;
    font-weight: bold;

}

header {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 10px;
    padding: 5px;
    border: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: white;
}

/* .menu{
display:flex;
padding: 2opx;
text decoration: none;
margin-right: inherit;
} */

ul.menu li {
    display: inline-flex;
    padding-right: 40px;
    /* justify-content: space-between; */
    font-size: 20px;
    color: white;
    text-decoration: none;
    align-items: center;

}

.a {
    text-decoration: none;
    text-align: right;
    display: inline-flex;
    justify-content: space-between;
    color: white;
}

.titulo {
    color: white;
    font-style: normal;
    margin-left: 0px;
    font-size: 30px;
    text-align: center;
    font-family: RobotoSlab-extrabold;
    font-weight: bold;
}

.mision {
    margin-top: 20px;
}

.iconos-menu {
    text-decoration: none;
    color: white;
    font-weight: 600;
}


.parrafos-index {
    /*  margin-left: 20px;
    margin-right: 50px;*/

    font-size: 20px;
    align-items: center;
}

#parrafosIndex {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.titulos-index {

    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: RobotoSlab-regular;

}

h3 {
    margin-left: 35px;
    text-align: center;
    font-size: 25px;
    font-family: RobotoSlab-regular;
}

footer {
    background-color: #320A28;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;

}

.footer {
    color: white;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

.redes {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    justify-content: center;


}

.imagenes {
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

/*Index*/

.footerIndex {
    margin: 0;
    border: 0;
    padding: 0;
}


/*Ubicacion*/
.mapa {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 50%;
    justify-content: center;
}

.mapa {
    padding: 5px;
    border: 5px;
    margin: 5px;
}

#mapaUbicacion {
    width: 360px;
    height: 260px;
}

/*texto*/

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: RobotoSlab-regular;
}

h2 {
    font-weight: bold;
    font-family: RobotoSlab-regular;
}

/*Servicios*/

.servicios {
    margin-left: 30px;
    margin-top: 20px;
    justify-content: center;
    font-size: 30px;
}

.derecho-de {
    margin-left: 30px;
}

.items {
    margin-left: 30px;
}

.carousel-item {
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px;
    width: 350px;
    align-items: center;
}



/*Quienes somos*/
.quienes-somos {
    margin-left: 30px;
    margin-top: 20px;
}


.nombres {
    margin-left: 30px;
}

.descripcion {
    margin-left: 30px;
    justify-content: center;
}

header {
    border-bottom: 8px;
    border-color: #b9aeb6;
}

.imagen1 {
    height: 350px;
    width: 200px;
    margin: 15px;
    padding: 20px;
}

.imagen2 {
    height: 350px;
    width: 200px;
    margin: 15px;
    padding: 20px;
}

.imagen3 {
    height: 350px;
    width: 200px;
    margin: 15px;
    padding: 20px
}

/*Contacto*/
.contacto {
    padding: 5px;
    border: 5px;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.formulario {
    font-family: RobotoSlab-thin;
    font-weight: bold;
    color: black;
    justify-content: center;
    display: flex;

}


label {
    display: inline-block;
    justify-content: center;
    text-align: center;
}

form {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.botón {
    justify-content: center;
    margin-bottom: 10px;
}

.seccion {
    padding: 0;
    margin: 0;
    background-color: #AEA3B0;
    justify-content: center;
}

.formulario {
    text-align: center;

}


/*Contenedores*/

/*index*/

.contenedorIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header header header"
        "mision mision mision"
        "vision vision vision"
        "valores valores valores"
        "lena lena lena"
        "footerIndex footerIndex footerIndex";
}



header {
    grid-area: header;
}

.mision {
    grid-area: mision;
}

.vision {
    grid-area: vision;
}

.valores {
    grid-area: valores;
}

.lena {
    grid-area: lena;
}

.footerIndex {
    grid-area: footerIndex;

}

.headerIndex {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6;

}

/*Contenedor Ubicacion*/

/*ubicacion*/

.contenedorUbicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header"
        "mapa"
        "footerUbicacion"
}

header {
    grid-area: header;
}

.mapa {
    grid-area: mapa;
}

.footerUbicacion {
    grid-area: footerUbicacion;
}

.headerUbicacion {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6;
}

/*Contenedor Contacto*/

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "headerContacto headerContacto headerContacto"
        "formulario formulario formulario"
        "footerContacto footerContacto footerContacto";
}

.headerContacto {
    grid-area: headerContacto;
}

.formulario {
    grid-area: formulario;
}

.footerContacto {
    grid-area: footerContacto;
}

.headerContacto {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6;
}

/*Contenedor quienes somos*/


.contenedorQuienesSomos{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.contenedorQuienesSomos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "Nos "
        "contenidoNosotros "
        "primerContenido"
        "segundoContenido"
        "tercerContenido"
        "footerNosotros ";
}

.Nos {
    grid-area: Nos;
}


.contenidoNosotros {
    grid-area: contenidoNosotros;
}


.intro {
    grid-area: intro;
}

.primerContenido {
    grid-area: primerContenido;
}

.segundoContenido {
    grid-area: segundoContenido;
}

.tercerContenido {
    grid-area: tercerContenido;
}

.footerNosotros {
    grid-area: footerNosotros;
}

.headerNosotros {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6;
}

/*contenedor servicios*/

.contenedorServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0, 25fr 0, 25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "headerServicios "
        "serviciosTitulo "
        " familia  "
        "familiaimg "
        "laboral "
        "laboralimg "
        "civilycomer "
        "civilycomerimg  "
        " Sucesorio "
        "sucesorioimg  "
        "footerServicios ";

}

.headerServicios {
    grid-area: headerServicios;
}

.serviciosTitulo {
    grid-area: serviciosTitulo;
}

.familia {
    grid-area: familia;
}

.familiaimg {
    grid-area: familiaimg;
}

.civilycomer {
    grid-area: civilycomer;
}

.civilycomerimg {
    grid-area: civilycomerimg;
}

.sucesorio {
    grid-area: sucesorio;
}

.sucesorioimg {
    grid-area: sucesorioimg;
}

.footerServicios {
    grid-area: footerServicios;
}

.headerServicios {
    background-color: #320A28;
    display: inline;
    justify-content: center;
    align-items: center;
    border-bottom: 8px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-style: solid;
    border-color: #b9aeb6;
}

@media screen and (min-width:768px) {
    .contenedorIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header header header"
            "mision mision mision"
            "vision vision vision"
            "valores valores valores"
            "lena lena lena"
            "footerIndex footerIndex footerIndex";
    }

    .contenedorUbicacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header"
            "mapa"
            "footerUbicacion";
    }

    .contenedorContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "headerContacto headerContacto headerContacto"
            "formulario formulario formulario"
            "footerContacto footerContacto footerContacto";
    }


    .headerServicios {
        grid-area: headerServicios;
    }

    .serviciosTitulo {
        grid-area: serviciosTitulo;
    }

    .familia {
        grid-area: familia;
    }

    .familiaimg {
        grid-area: familiaimg;
    }

    .civilycomer {
        grid-area: civilycomer;
    }

    .civilycomerimg {
        grid-area: civilycomerimg;
    }

    .sucesorio {
        grid-area: sucesorio;
    }

    .sucesorioimg {
        grid-area: sucesorioimg;
    }

    .footerServicios {
        grid-area: footerServicios;
    }

    header {
        background-color: #320A28;
        display: inline;
        justify-content: space-between;
        align-items: center;
        border-bottom: 8px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-style: solid;
        border-color: #b9aeb6;
    }

    .menuUbicacion {
        display: flex;
    }

    .mapa {
        padding: 5px;
        border: 5px;
        margin: 5px;
        justify-content: space-between;
    }

    #mapaUbicacion {
        width: 500px;
        height: 360px;
    }

    .parrafos-index {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        font-size: 20px;
    }

    #parrafosIndex {
        text-align: justify;
        margin: 20px;
        padding: 10px;
    }

    .titulo {
        color: white;
        font-style: normal;
        margin-left: 0px;
        font-size: 40px;
        text-align: center;
        font-family: RobotoSlab-extrabold;
        font-weight: bold;
    }

    .carousel-item {
        margin-right: 30px;
        margin-left: 30px;
        padding: 15px;
        width: 500px;
        align-items: center;
    }

}

@media screen and (min-width:1200px) {
    .contenedorIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header header header"
            "mision mision mision"
            "vision vision vision"
            "valores valores valores"
            "lena lena lena"
            "footerIndex footerIndex footerIndex";
    }

    .contenedorUbicacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header"
            "mapa"
            "footerUbicacion";
    }

    .contenedorContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "headerContacto headerContacto headerContacto"
            "formulario formulario formulario"
            "footerContacto footerContacto footerContacto";
    }
/*
    .contenedorQuienesSomos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.25fr  1fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "headerNosotros headerNosotros headerNosotros"
            "contenidoNosotros contenidoNosotros contenidoNosotros"
            "primerContenido segundoContenido tercerContenido"
            "footerNosotros footerNosotros footerNosotros";
    }

.headerNosotros{
    grid-area: headerNosotros;
}

.primerContenido{
    grid-area: primerContenido;
}

.segundoContenido{
    grid-area: segundoContenido;
}

.tercerContenido{
    grid-area: tercerContenido;
}
.footerNosotros{
    grid-area: footerNosotros;
}
*/
    .imagen1 {
        height: 500px;
        width: 300px;
        margin: 15px;
        padding: 20px;
    }

    .imagen2 {
        height: 500px;
        width: 300px;
        margin: 15px;
        padding: 20px;
    }

    .imagen3 {
        height: 500px;
        width: 300px;
        margin: 15px;
        padding: 20px
    }


    header {
        background-color: #320A28;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-style: solid;
        border-color: #b9aeb6;
    }



    .mapa {
        padding: 15px;
        border: 15px;
        margin: 5px;
    }

    #mapaUbicacion {
        width: 550px;
        height: 390px;
    }

    .parrafos-index {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        font-size: 20px;
    }

    #parrafosIndex {
        text-align: center;
        margin: 20px;
        padding: 10px;
    }

    .headerIndex {
        display: inline-flex;
    }

    .headerUbicacion {
        display: inline-flex;
    }

    .headerNosotros {
        display: inline-flex;
    }

    .headerServicios {
        display: inline-flex;

    }

    .headerContacto {
        display: inline-flex;
    }

    .carousel-item {
        margin-right: 30px;
        margin-left: 30px;
        padding: 15px;
        width: 700px;
        align-items: center;
    }

    .titulo {
        margin-right: 25px;
    }
}

.titulo {
    color: white;
    font-style: normal;
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    font-family: RobotoSlab-extrabold;
    font-weight: bold;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    padding: 5px;
    border: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #320A28;
    justify-content: center;
    padding-bottom: 20px;

}

.footer {
    color: white;
    margin-left: 0px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

.redes {
    color: white;
    text-decoration: none;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    justify-content: center;

}

ul.menu li {
    display: inline-flex;
    padding-right: 40px;
    /* justify-content: space-between; */
    font-size: 20px;
    color: white;
    text-decoration: none;
    align-items: center;
}


.a {
    text-decoration: none;
    text-align: right;
    display: inline-flex;
    justify-content: space-between;
    color: white;
}

.titulo {
    color: white;
    font-style: normal;
    margin-left: 0px;
    font-size: 42px;
    text-align: center;
    font-family: RobotoSlab-extrabold;
    font-weight: bold;
}

.iconos-menu {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.parrafos-index {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
}

.titulos-index {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: RobotoSlab-regular;

}

.formulario {
    grid-area: formulario;
}

.footerContacto {
    grid-area: footerContacto;
}

header {
    grid-area: header;
}

ul.menu li {
    display: inline;
    padding-right: 40px;
    /* justify-content: space-between; */
    font-size: 20px;
    color: white;
    text-decoration: none;
}


.a {
    text-decoration: none;
    text-align: right;
    display: inline-flex;
    justify-content: space-between;
    color: white;
}

.titulo {
    color: white;
    font-style: normal;
    margin-left: 0px;
    font-size: 42px;
    text-align: center;
    font-family: RobotoSlab-extrabold;
    font-weight: bold;
}

.logo {
    margin-left: 5px;
}

.iconos-menu {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.parrafos-index {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font-size: 20px;
}

.titulos-index {
    margin-left: 25px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: RobotoSlab-regular;

}

footer {
    background-color: #320A28;
    justify-content: space-between;
    padding-bottom: 20px;

}

.footer {
    color: white;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

.redes {
    color: white;
    text-decoration: none;

    text-align: center;
    font-size: 20px;
    justify-content: center;
}

.titulo {
    color: white;
    font-style: normal;
    margin-left: 0px;
    font-size: 50px;
    text-align: center;
    font-family: RobotoSlab-extrabold;
    font-weight: bold;
}