$color-principal: #320A28;
$color-secundario:#b9aeb6;
$color-texto: white;
$color-detalle:black;
$gradiente: linear-gradient(#f3e8e8, #FFE0F0, #DDC3D0);
$tipografia-titulos:RobotoSlab-extrabold;
$tipografia-textos:RobotoSlab-regular;
$tipografia-extra:RobotoSlab-thin;
