@font-face {
    font-family: RobotoSlab-extrabold;
    src: url(../fonts/static/RobotoSlab-ExtraBold.ttf);
}

@font-face {
    font-family: RobotoSlab-thin;
    src: url(../fonts/static/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: RobotoSlab-regular;
    src: url(../fonts/static/RobotoSlab-Regular.ttf);
}

@import 'variables';
@import 'mapas';
@import 'mixins';

.subtitulo {
    font-weight: bold;
    text-decoration: underline;

}


.mini-descripciones {
    justify-content: justify;
    margin-left: map-get($medidas, small);
    margin-right: map-get($medidas, small);
    align-items: center;
}



/*general*/

.titulo {
    color: white;
    font-style: normal;
    margin-left: 0px;
    font-size: 40px;
    text-align: center;
    font-family: $tipografia-titulos;
    font-weight: bold;
}


body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    background-image: url(../img/fondonuevo.jpg);
    background-size: 100vw 100vh;
    margin: 0;
    background-attachment: fixed;
    font-family: RobotoSlab-thin;
    font-weight: bold;

    header {
        background-color: $color-principal;
        display: inline;
        justify-content: center;
        align-items: center;
        border-bottom: 8px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-style: solid;
        border-color: $color-secundario;

        .logo {
            @include sizes (100px, 100px);
            margin-left: 35px;
            padding: 5px;
            border: 5px;
            margin-right: 35px;
            margin-top: 5px;
            margin-bottom: 5px;
            align-items: center;
            justify-content: center;
        }
    }
}

.nav-link {
    color: $color-texto;
}

/* .menu{
display:flex;
padding: 20px;
text decoration: none;
margin-right: inherit;
} */



ul.menu li {
    display: inline-flex;
    padding-right: 40px;
    /* justify-content: space-between; */
    font-size: map-get($medidas, small);
    color: $color-texto;
    text-decoration: none;
    align-items: center;

}

.a {
    text-decoration: none;
    text-align: right;
    display: inline-flex;
    justify-content: space-between;
    color: $color-texto;
}

h3 {
    margin-left: 0px;
    text-align: center;
    font-size: 25px;
    font-family: $tipografia-textos;
}


footer {
    background-color: $color-principal;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: map-get($medidas, small);

    .footer {
        color: $color-texto;
        margin-left: map-get($medidas, nothing);
        text-align: center;
        font-size: 20px;
        justify-content: center;

        .redes {
            color: $color-texto;
            text-decoration: none;
            text-align: center;
            font-size: map-get($medidas, small);
            justify-content: center;
            margin: 0px;
        }
    }
}

.imagenes {
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

/*Index*/

.parrafos-index {
    margin-left: map-get($medidas, big);
    margin-right: map-get($medidas, big);
    font-size: map-get($medidas, small);
    align-items: center;
    text-align: center;

    #parrafosIndex {
        text-align: center;
        margin: map-get($medidas, small);
        padding: 10px;
    }
}

#parrafosIndex {
    text-align: justify;
    @include mp (20px, 10px);
}

.titulos-index {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: $tipografia-textos;

    .mision {
        margin-top: map-get($medidas, small);
    }
}

.footerIndex {
    @include mp (0px, 0px);
    border: 0;
}

.indeximg {
    margin: 0px;
    text-decoration: none
}

/*Ubicacion*/
.mapa {
    @include mp (5px, 5px);
    border: 5px;
    justify-content: center;

    #mapaUbicacion {
        @include sizes (400px, 260px);

    }
}

/*texto*/

p {
    font-size: map-get($medidas, small);
}

li {
    font-size: map-get($medidas, small);
}

h1 {
    font-size: 35px;
    font-weight: bold;
    font-family: $tipografia-textos;
}

h2 {
    font-weight: bold;
    font-family: $tipografia-textos;
}

/*Servicios*/

.servicios {
    margin-left: map-get($medidas, medium);
    margin-top: map-get($medidas, small);
    justify-content: center;
    font-size: 30px;
}

.derecho-de {
    margin-left: 0px;
}

.items {
    margin-left: 30px;
}

.carousel-item {
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px;
    width: 350px;
    align-items: center;
}



/*Quienes somos*/
.quienes-somos {
    margin-left: map-get($medidas, medium);
    margin-top: map-get($medidas, small);
}


.nombres {
    margin-left: map-get($medidas, medium);
}

/*
.descripcion {
    margin-left: map-get($medidas, medium);
    justify-content: center;
}
*/
header {
    border-bottom: 8px;
    border-color: $color-secundario;
}



/*Contacto*/

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}


.formulario {
    font-family: $tipografia-extra;
    font-weight: bold;
    color: $color-detalle;
    justify-content: center;
    display: flex;

    form {
        display: inline-block;
        justify-content: center;
        text-align: center;
        margin-bottom: map-get($medidas, small);

        .contacto {
            @include mp (10px, 5px);
            border: 5px;
            justify-content: center;
            text-align: center;
        }
    }
}

.seccion {
    @include mp (0px, 0px);
    justify-content: center;

    .botón {
        justify-content: center;
        margin-bottom: 10px;
        background: #320A28;
        color: white;
        padding: 20px;

    }
}

.boton:hover {
    cursor: pointer;
}

form {
    width: 450px;
    margin: auto;
    background-color: #b9aeb6;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;

}

.formulario {
    text-align: center;
    font-family: $tipografia-extra;
    font-weight: bold;
    color: $color-detalle;
    justify-content: center;
    display: flex;

}

label {
    display: inline-block;
    justify-content: center;
    text-align: center;
    justify-content: space-between;


}


.contenedorContacto {
    background-image: url(../img/fondocontacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}


/*Contenedores*/

/*index*/

.contenedorIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header header header"
        "mision mision mision"
        "vision vision vision"
        "valores valores valores"
        "lena lena lena"
        "footerIndex footerIndex footerIndex";
}

.headerIndex {
    @extend header;
}

header {
    grid-area: header;
}

.mision {
    grid-area: mision;
}

.vision {
    grid-area: vision;
}

.valores {
    grid-area: valores;
}

.lena {
    grid-area: lena;
}

.footerIndex {
    grid-area: footerIndex;

}

/*Contenedor Ubicacion*/

/*ubicacion*/

.contenedorUbicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "header"
        "mapa"
        "footerUbicacion"
}


.headerUbicacion {
    @extend header;
}

header {
    grid-area: header;
}

.mapa {
    grid-area: mapa;
}

.footerUbicacion {
    grid-area: footerUbicacion;
}


/*Contenedor Contacto*/

.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0, 25fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "headerContacto headerContacto headerContacto"
        "formulario formulario formulario"
        "footerContacto footerContacto footerContacto";
}

.headerContacto {
    @extend header;
}


.headerContacto {
    grid-area: headerContacto;
}

.formulario {
    grid-area: formulario;
}

.footerContacto {
    grid-area: footerContacto;
}

/*Contenedor quienes somos*/

.contenedorQuienesSomos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "Nos "
        "contenidoNosotros "
        "primerContenido"
        "segundoContenido"
        "tercerContenido"
        "footerNosotros ";
}

.headerNosotros {
    @extend header;

}

.Nos {
    grid-area: Nos;
}


.contenidoNosotros {
    grid-area: contenidoNosotros;
}


.intro {
    grid-area: intro;
}

.primerContenido {
    grid-area: primerContenido;
}

.segundoContenido {
    grid-area: segundoContenido;
}

.tercerContenido {
    grid-area: tercerContenido;
}

.footerNosotros {
    grid-area: footerNosotros;
}

/*contenedor servicios*/

.contenedorServicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0, 25fr 0, 25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0, 25fr;
    gap: 0;
    grid-template-areas: "headerServicios "
        "serviciosTitulo "
        " familia  "
        "familiaimg "
        "laboral "
        "laboralimg "
        "civilycomer "
        "civilycomerimg  "
        " Sucesorio "
        "sucesorioimg  "
        "footerServicios ";

}

.headerServicios {
    @extend header;
}

.headerServicios {
    grid-area: headerServicios;
}

.serviciosTitulo {
    grid-area: serviciosTitulo;
}

.familia {
    grid-area: familia;
}

.familiaimg {
    grid-area: familiaimg;
}

.civilycomer {
    grid-area: civilycomer;
}

.civilycomerimg {
    grid-area: civilycomerimg;
}

.sucesorio {
    grid-area: sucesorio;
}

.sucesorioimg {
    grid-area: sucesorioimg;
}

.footerServicios {
    grid-area: footerServicios;
}


/*media querie*/


@media screen and (max-width:360px) {
    form {
        width: 100%;
    }

    h2 {
        .soluciones {
            justify-content: center;
            text-decoration: underline;
        }
    }

    .indeximg1 {
        width: 320px;
        height: 180px;
    }

    .indeximg2 {
        width: 320px;
        height: 180px;
    }

    .indeximg3 {
        width: 320px;
        height: 180px;
    }

    .indeximg4 {
        width: 320px;
        height: 180px;
    }


    #contenedor {
        width: 320px;
        margin: 15px auto;
        overflow: hidden;
    }

    #contenedor ul {
        width: 1280px;
        display: flex;
        padding: 0px;

        animation: slide 20s infinite alternate;
    }

    @keyframes slide {
        0% {
            margin-left: 0px;
        }

        20% {
            margin-left: 0px;
        }

        25% {
            margin-left: -320px;
        }

        45% {
            margin-left: -320px;
        }

        50% {
            margin-left: -640px;
        }

        70% {
            margin-left: -640px;
        }

        80% {
            margin-left: -960px;
        }

        100% {
            margin-left: -960px;
        }
    }

    .mapa {
        @include mp (5px, 5px);
        border: 5px;
        justify-content: center;

        #mapaUbicacion {
            @include sizes (290px, 140px);

        }
    }

/*cartillas nosotros*/
.primerContenido {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;


    .box {
        background-color: white;
        position: relative;
        display: inline-flex;
        justify-content: space-between;
        width: 300px;
        height: 390px;
        border-radius: 10px;


        .imagenpresentacion {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 10px;

            .imagen1 {
                width: 120px;
                height: 120px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        .presentacion {
            font-size: 15px;
            justify-content: center;
            text-align: center;
            margin: 5px;
            padding: 10px;
        }

    }
}

}

@media screen and (min-width:361px) {

    /*carrusel*/

    .indeximg1 {
        width: 380px;
        height: 240px;
    }

    .indeximg2 {
        width: 380px;
        height: 240px;
    }

    .indeximg3 {
        width: 380px;
        height: 240px;
    }

    .indeximg4 {
        width: 380px;
        height: 240px;
    }

    #contenedor {
        width: 380px;
        margin: 15px auto;
        overflow: hidden;
    }

    #contenedor ul {
        width: 1520px;
        display: flex;
        padding: 0px;

        animation: slide 20s infinite alternate;
    }

    @keyframes slide {
        0% {
            margin-left: 0px;
        }

        20% {
            margin-left: 0px;
        }

        25% {
            margin-left: -380px;
        }

        45% {
            margin-left: -380px;
        }

        50% {
            margin-left: -760px;
        }

        70% {
            margin-left: -760px;
        }

        80% {
            margin-left: -1140px;
        }

        100% {
            margin-left: -1140px;
        }
    }

    /*mapa ubicación*/

    .mapa {
        @include mp (5px, 5px);
        border: 5px;
        justify-content: center;

        #mapaUbicacion {
            @include sizes (360px, 220px);

        }
    }


/*cartillas nosotros*/
.primerContenido {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;


    .box {
        background-color: white;
        position: relative;
        display: inline-flex;
        width: 300px;
        height: 450px;
        border-radius: 10px;


        .imagenpresentacion {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;

            .imagen1 {
                width: 120px;
                height: 120px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        .presentacion {
            font-size: 17px;
            justify-content: center;
            text-align: center;
            margin: 5px;
            padding: 10px;
        }

    }
}

}


@media screen and (min-width:768px) {
    .contenedorIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header header header"
            "mision mision mision"
            "vision vision vision"
            "valores valores valores"
            "lena lena lena"
            "footerIndex footerIndex footerIndex";
    }

    .contenedorUbicacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header"
            "mapa"
            "footerUbicacion";
    }

    .contenedorContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "headerContacto headerContacto headerContacto"
            "formulario formulario formulario"
            "footerContacto footerContacto footerContacto";
    }


    .headerServicios {
        grid-area: headerServicios;
    }

    .serviciosTitulo {
        grid-area: serviciosTitulo;
    }

    .familia {
        grid-area: familia;
    }

    .familiaimg {
        grid-area: familiaimg;
    }

    .civilycomer {
        grid-area: civilycomer;
    }

    .civilycomerimg {
        grid-area: civilycomerimg;
    }

    .sucesorio {
        grid-area: sucesorio;
    }

    .sucesorioimg {
        grid-area: sucesorioimg;
    }

    .footerServicios {
        grid-area: footerServicios;
    }

    header {
        background-color: $color-principal;
        display: inline;
        justify-content: space-between;
        align-items: center;
        border-bottom: 8px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-style: solid;
        border-color: $color-secundario;

        .titulo {
            color: $color-texto;
            font-style: normal;
            margin-left: 0px;
            font-size: 60px;
            text-align: center;
            font-family: $tipografia-titulos;
            font-weight: bold;
        }

        #logo {
            @include sizes (110px, 110px);
        }

    }

    .menuUbicacion {
        display: flex;
    }

    .mapa {
        @include mp (5px, 5px);
        border: 5px;
        justify-content: space-between;

        #mapaUbicacion {
            @include sizes (700px, 500px)
        }

    }

    .parrafos-index {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        font-size: 20px;

        #parrafosIndex {
            text-align: justify;
            @include mp(20px, 10px);
        }

    }

    .carousel-item {
        margin-right: map-get($medidas, medium);
        margin-left: map-get($medidas, medium);
        padding: 15px;
        width: 500px;
        align-items: center;
    }

    /*carrusel index*/
    /*imagenes index*/

    .indeximg1 {
        width: 700px;
        height: 460px;
    }

    .indeximg2 {
        width: 700px;
        height: 460px;
    }

    .indeximg3 {
        width: 700px;
        height: 460px;
    }

    .indeximg4 {
        width: 700px;
        height: 460px;
    }

    #contenedor {
        width: 700px;
        margin: 30px auto;
        overflow: hidden;
    }

    #contenedor ul {
        width: 2800px;
        display: flex;

        animation: slide 20s infinite alternate;
    }

    @keyframes slide {
        0% {
            margin-left: 0px;
        }

        20% {
            margin-left: 0px;
        }

        25% {
            margin-left: -700px;
        }

        45% {
            margin-left: -700px;
        }

        50% {
            margin-left: -1400px;
        }

        75% {
            margin-left: -1400px;
        }

        75% {
            margin-left: -2100px;
        }

        100% {
            margin-left: -2100px;
        }
    }

/*cartillas nosotros*/
.primerContenido {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;


    .box {
        background-color: white;
        position: relative;
        display: inline-flex;
        width: 370px;
        height: 470px;
        border-radius: 10px;


        .imagenpresentacion {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;

            .imagen1 {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        .presentacion {
            font-size: 17px;
            justify-content: center;
            text-align: center;
            margin: 5px;
            padding: 10px;
        }

    }
}

}

@media screen and (min-width:1200px) {
    .contenedorIndex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 1fr 1fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header header header"
            "mision mision mision"
            "vision vision vision"
            "valores valores valores"
            "lena lena lena"
            "footerIndex footerIndex footerIndex";
    }

    .contenedorUbicacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "header"
            "mapa"
            "footerUbicacion";
    }

    .contenedorContacto {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0, 25fr 1fr 0, 25fr;
        gap: 0;
        grid-template-areas: "headerContacto headerContacto headerContacto"
            "formulario formulario formulario"
            "footerContacto footerContacto footerContacto";
    }




    header {
        background-color: $color-principal;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-style: solid;
        border-color: $color-secundario;




        .logo {
            @include sizes (150px, 150px);
            margin-left: map-get($medidas, small);
            margin-right: map-get($medidas, medium);
            ;
            padding: 5px;
            border: 5px;
            align-items: center;
            justify-content: space-between;
        }

        #logo {
            @include sizes (130px, 130px);

        }

        .titulo {
            margin-right: 25px;
            font-size: 70px;

        }

    }

    .mapa {
        @include mp (5px, 15px);
        border: 15px;

        #mapaUbicacion {
            @include sizes (800px, 640px)
        }
    }

    .parrafos-index {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
        font-size: map-get($medidas, small);

        #parrafosIndex {
            text-align: justify;
            @include mp (20px, 10px);
        }

        .headerIndex {
            display: inline-flex;
        }

        .headerUbicacion {
            display: inline-flex;
        }

        .headerNosotros {
            display: inline-flex;
        }

        .headerServicios {
            display: inline-flex;

        }

        .headerContacto {
            display: inline-flex;
        }

        .carousel-item {
            margin-right: map-get($medidas, medium);
            margin-left: map-get($medidas, medium);
            padding: 15px;
            width: 700px;
            align-items: center;
        }
    }

    /*carrusel servicios*/

    /*carrusel index*/
    /*imagenes index*/

    .indeximg1 {
        width: 1000px;
        height: 600px;
    }

    .indeximg2 {
        width: 1000px;
        height: 600px;
    }

    .indeximg3 {
        width: 1000px;
        height: 600px;
    }

    .indeximg4 {
        width: 1000px;
        height: 600px;
    }


    #contenedor {
        width: 1000px;
        margin: 30px auto;
        overflow: hidden;
    }

    #contenedor ul {
        width: 4000px;
        display: flex;

        animation: slide 20s infinite alternate;
    }

    @keyframes slide {
        0% {
            margin-left: 0px;
        }

        20% {
            margin-left: 0px;
        }

        25% {
            margin-left: -1000px;
        }

        45% {
            margin-left: -1000px;
        }

        50% {
            margin-left: -2000px;
        }

        75% {
            margin-left: -2000px;
        }

        75% {
            margin-left: -3000px;
        }

        100% {
            margin-left: -3000px;
        }
    }

/*cartillas nosotros*/
.primerContenido {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;


    .box {
        background-color: white;
        position: relative;
        display: inline-flex;
        width: 370px;
        height: 470px;
        border-radius: 10px;


        .imagenpresentacion {
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px;

            .imagen1 {
                width: 200px;
                height: 200px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        .presentacion {
            font-size: 17px;
            justify-content: center;
            text-align: center;
            margin: 5px;
            padding: 10px;
        }

    }
}


}


/*carrusel (cambiar medidas a formato mobile)*/

#kiko-slider {
    margin: auto;
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;

}

#kiko-slider>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#kiko-slider>ul.slider {
    position: relative;
    max-width: 900px;
    min-width: 300px;
    width: 100%;
    height: 300px;

}


#kiko-slider>ul.slider h1 {
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
}

#kiko-slider>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;

}

#kiko-slider>ul.slider li img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

#kiko-slider>ul.slider li:first-child {
    opacity: 1;
    /*Mostramos el primer <li>*/
}

#kiko-slider>ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

#kiko-slider>.menu {
    text-align: center;
    margin: 20px;
}

#kiko-slider>.menu li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

.contenedorIndex {
    background-image: url(../img/fondonuevo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.contenedorQuienesSomos {
    background-image: url(../img/fondonuevo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.contenedorServicios {
    background-image: url(../img/fondonuevo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.contenedorUbicacion {
    background-image: url(../img/fondonuevo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

#ubi {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 50px;
    font-family: $tipografia-titulos;
    text-decoration: underline;
}

.cajablanca {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    border: #320A28;
    border: 7px;

}

.soluciones {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px;
    margin-top: 30px;
    text-decoration: underline;

    .solu {
        display: inline-flex;
        justify-content: space-between;
    }
}


